<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/book-list-pages"></ion-back-button>
    </ion-buttons>
    <ion-title>LendBookPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-title class="ion-text-center">{{book.title}}</ion-card-title>
    <ion-card-content>
      <ion-button expand="full" color="danger" [disabled]="book.lended" (click)="buttonClicked(book.id)">Lend</ion-button>
      <br>
      <ion-button expand="full" color="success" [disabled]="!book.lended" (click)="buttonClicked(book.id)">Retrieve</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
