<ion-header>
  <ion-toolbar>
    <ion-title>My Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" class="refresher">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let book of books" class="card" [routerLink]="'/lend-book-pages/' + book.id">
    <ion-label>{{book.title}} de {{book.author}}</ion-label>
  </ion-card>
</ion-content>
