<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cd-list-pages"></ion-back-button>
    </ion-buttons>
    <ion-title>LendCdPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cdCard">
    <ion-card-title class="ion-text-center">{{cd.title}}</ion-card-title>
    <ion-card-content>
      <ion-button expand="full" color="danger" [disabled]="cd.lended" (click)="buttonClicked(cd.id)">Lend</ion-button>
      <br>
      <ion-button expand="full" color="success" [disabled]="!cd.lended" (click)="buttonClicked(cd.id)">Retrieve</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
