<ion-header>
  <ion-toolbar>
    <ion-title>My CDs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" class="refresher">
    <ion-refresher-content refreshingSpinner="circles">

    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let cd of cds" class="card" [routerLink]="'/lend-cd-pages/' + cd.id">
    <ion-label>{{cd.title}} de {{cd.artist}}</ion-label>
  </ion-card>
</ion-content>
