<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="book">
      <ion-icon name="book"></ion-icon>
      <ion-label>Books</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cd">
      <ion-icon name="disc"></ion-icon>
      <ion-label>CD</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
