<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
      <ion-button expand="full" (click)="addBook()">Add Book</ion-button>
  </div>
  <div class="card">
      <ion-button expand="full" (click)="addCd()">Add CD</ion-button>
  </div>
</ion-content>
