<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="danger" (click)="quitModal()">
                Cancel
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="addBtnTapped(form)" [disabled]="form.invalid">
                Add
            </ion-button>
        </ion-buttons>
        <ion-title>add-cd</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="addBtnTapped(form)">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <h3>Add a Book to your Collection</h3>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input name="title" type="text" placeholder="Title" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="artist" type="text" placeholder="Artist" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="genre" type="text" placeholder="Genre" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="releaseDate" type="date" placeholder="Release Date" ngModel
                                       required></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
